html,
body,
.wrapper {
  height: 100%;
  background-color: $background-primary;
  color: $foreground-primary;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
