html, body
  background none
  font-family serif
  min-height 100%
  font-size 20px

body
  background-color #ccc

.wrapper
  background-color white
  width 640px
  margin 35px auto 240px auto
  padding 25px
  overflow auto

svg.logo
  width 100%